*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

body{
	
}

main{
	margin: 0 100px;

}

section.my-bg{
	/* background-color: red; */
	background-image: url("../images/avatar.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	height: 100vh;
	/* max-height: 730px;	 */
	width: 50%;
	/* min-height: 500px; */
	opacity: 0.7;
	/* padding-left: 50px; */
	margin-left: 50px;
}

/* about-me div */
div.about-me{
	margin-left:50%;
	top: 30%;
	position: absolute;
}

/* social links */
.social{
	/* display: block; */
	position: absolute;
	border:2px solid magenta;
	top: 35%;
	height: calc(2.5em *4);
	/* width: 100px; */
	/* margin: 0; */
	/* margin:calc(50vh-50px) */
}

.social a{
	border: 1px dotted red;
	display: block;
	font-size: 2em;
	
}

/* navigation icon done do not touch. */
#main-site{	
	text-decoration: none;
	color: black;
	font-size: 3em;
	/* font-weight: 900; */
	background-color: blue;
	padding: 0 20px;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	line-height: 60px;
	top: 50%;
	right: 0;
	position: absolute;
	transition: all 0.3s ease-in-out;
	margin-right: 50px;
	text-align: center;
}

#main-site:hover{
	cursor:pointer;
	color: tomato;
	/* background-color: cornflowerblue; */

}

@media screen and (max-width:1000px){
	main{
		min-height: calc(100vh - 10vh);
	}

	section.my-bg{
		height: 100vh;
		width: 100%;
		background-position: center;
		margin: 0;
	}

	#main-site::before{
		
	}

	#main-site::after{
		/* font-family: FontAwesome; */
		/* content: "\f107"; */
	}

	#main-site{
		content: "";
		background-color: hotpink;
		position: fixed;
		border-radius: 0;
		width: 100%;
		display: block;
		top:auto;
		right: auto;
		bottom: 0;
		margin: 0;
		height: 30px;
		font-size: 2em;
		line-height: 30px;

	}
}