*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 0 10%;
	font-family: 'Courier New', Courier, monospace;
	position: relative;
}

a{
	/* text-decoration: none; */
}

header,section,aside,footer{
	border: 1px solid black;
}

header{
	height: 150px;
	display: block;
	padding: 20px;
	background-color: beige;
}

header div{
	
	/* background-image: linear-gradient(135deg,rgba(255, 0, 0, 0.849),rgba(218, 30, 102, 0.801)); */
	text-align: center;
}

header div a{
	color: yellowgreen;
	font-size: 3em;
	text-decoration: none;
}

header div a:hover {
	color:chartreuse;
}

main{
	/* min-height: calc(100%-5%); */
	/* max-height:1080px; */
	border: 1px dashed red;
	display: flex;
	flex-direction: row;
	min-height: calc100vh;
	padding-top: 75px;
	padding-bottom: 50px;
	
}

main section{
	width: 75%;
	margin: 0 auto;
}

aside{
	/* position: relative; */
	right: 0;
	margin-left: auto;
	width: 20%;
	
	
}

aside .author .author-avatar{
	height: 250px;
	
}

aside .author .author-avatar img{
	width: 100%;
	height: 100%;
	/* margin: 0 auto; */
	border-radius: 50%;

}

aside .author .author-avatar img:hover{
	/* border: 2px solid purple; */
	border-radius: 0%;
}

aside .author .author-details{}

aside .author .author-contact{
	/* border: 1px solid brown; */
}

.author-contact ul{
	position: absolute;
	display: flex;
	width: 20%;
	/* margin-top: 10%; */
	background-color: grey;
}

.author-contact ul li{
	list-style: none;	
}

.author-contact ul li a{
	position: relative;
	height: 50px;
	width: 50px;
	border-radius: 10px;
	color: black;
	/* background-color: greenyellow; */
	border: 2px solid orangered;
}
.author-contact ul li .fa{
	font-size: 30px;
	/* background-color: greenyellow; */
}

footer{
	height: 50px;
	background-color: beige;
	text-align: center;
	/* bottom: 0; */
}