*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

body{
	margin: 0 50px;
	/* border: 1px solid black; */
	/* min-width: 350px; */
	height: 100vh;

}

header{
	text-align: center;
	border: 2px solid green;
}

main{
	color: black;

}

section.my-bg{
	/* background-color: red; */
	background-image: url("../images/avatar.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	height: 100vh;
	/* max-height: 730px;	 */
	width: 50%;
	/* min-height: 500px; */
	opacity: 0.7;
	/* padding-left: 50px; */
	margin-left: 50px;
}

section.my-img {
	height: 300px;
	/* max-height: 700px; */
	/* width: 900px; */
	border: 2px red dashed;
	opacity: 0.8;
	display: flex;
}

section.my-img img{
	height: 100%;
	/* border: 3px palevioletred dashed; */
	min-height:200px;
	max-height: 400px;
	/* width: ; */

}

main h3{
	border: 2px solid maroon;
	/* width: 100%; */

}

/* about-me div */
div.about-me{
	margin-left:50%;
	top: 30%;
	position: absolute;
}

/* social links */
.social{
	display: none;
	position: absolute;
	border:2px solid magenta;
	top: 35%;
	height: calc(2.5em *4);
	/* width: 100px; */
	/* margin: 0; */
	/* margin:calc(50vh-50px) */
}

.social a{
	border: 1px dotted red;
	display: block;
	font-size: 2em;
	
}

/* navigation icon done do not touch. */
#main-site{	
	text-decoration: none;
	color: black;
	font-size: 3em;
	/* font-weight: 900; */
	background-color: cornflowerblue;
	padding: 0 20px;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	line-height: 60px;
	top: 50%;
	right: 0;
	position: absolute;
	transition: all 0.3s ease-in-out;
	margin-right: 50px;
	text-align: center;
}

#main-site:hover{
	cursor:pointer;
	color: tomato;
	/* background-color: cornflowerblue; */

}

/* margin: 0 50px; */
@media screen and (max-width:480px){

	body{
		min-width: 350px;
		/* margin: 0; */
		background-color: beige;
		/* padding: 10px; */
		/* position: relative; */
		height: 100vh;
		margin: auto 0;
		/* border: 5px red dotted; */
	}

	header, main, footer { width: calc(100vw - 30px); }
	header{ margin-bottom: 50px; }
	section.my-img{
		margin: 0 auto;
		border: 2px dashed purple;	
		/* border: 0; */
		height: 200px;
		width: 200px;
		display: block;
	}

	section.my-img img{
		margin: 0 auto;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
		
	}

	#main-site{
		content: "";
		background-color: hotpink;
		position: fixed;
		border-radius: 0;
		width: 20px;
		display: block;
		top:0;
		right: 0;
		bottom: auto;
		margin: 0;
		height: 100vh;
		font-size: 1em;
		padding: 0;
		line-height: 100vh;
		
	}

	#main-site:hover{
		cursor:pointer;
		/* color: tomato; */
		color: cornflowerblue;
		/* background-color: cornflowerblue; */
	}
	.align{
		/* border: 1px solid orange; */
		/* height: 50px; */
		/* width: 50px; */
		/* top: 50%; */
		/* margin: 0 auto; */
	}
}
/*
@media screen and (max-width:1000px){
	main{
		min-height: calc(100vh - 10vh);
	}

	section.my-bg{
		height: 100vh;
		width: 100%;
		background-position: center;
		margin: 0;
	}

	#main-site{
		content: "";
		background-color: hotpink;
		position: fixed;
		border-radius: 0;
		width: 100%;
		display: block;
		top:auto;
		right: auto;
		bottom: 0;
		margin: 0;
		height: 30px;
		font-size: 2em;
		line-height: 30px;

	}
}
*/